<div class="container">
    <div *ngIf="!displayCarts.length" class="w-100 no-orders d-flex align-items-center justify-content-center">
        <h3 class="display-3 text-center">You have not placed any orders</h3>
    </div>
    <div *ngIf="displayCarts.length" class="mb-5">
        <div class="lead text-center mb-3">Hello, {{user.email}} here are your previous orders: </div>
        <div *ngFor="let cart of displayCarts; let i=index">
            <h3 class="display-4 text-center">{{"Order "+(i+1)}}</h3>
            <div class="card mb-4">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between" *ngFor="let p of cart; let j = index">
                        <span>{{p.product.name}}</span>
                        <div class="d-flex justify-content-between">
                            <span class="ml-2 mr-5">{{"$"+p.product.price}}</span>
                            <span>{{"Quantity :"+p.quantity}}</span>
                        </div>
                    </li>
                </ul>
                <div class="card-footer">
                    {{"Order Total: $"+orderTotals[i]}}
                </div>
            </div>
        </div>
    </div>
</div>