<header class="mb-4">
    <div class="bg-secondary nav nav-tabs">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/products"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/aboutus">About</a>
        <a class="nav-item nav-link" routerLinkActive="active" *ngIf="!webmaster && auth"
            routerLink="/buying/orders">Orders</a>
        <a class="nav-item nav-link" routerLinkActive="active" *ngIf="!webmaster && auth"
            routerLink="/buying/cart">Cart</a>
        <a class="nav-item nav-link" routerLinkActive="active" *ngIf="webmaster"
            routerLink="/products/create">Create</a>

        <div class="auth ml-auto ">
            <button class="btn btn-primary" (click)="onLogin()" *ngIf="!auth && !loadedAuthPage">Login</button>
            <button class="btn btn-danger" (click)="onLogout()" *ngIf="auth">Logout</button>
        </div>
    </div>
</header>

<main>
    <app-loading-spinner class="d-flex justify-content-center align-items-center w-100"
        *ngIf="isLoading"></app-loading-spinner>
    <router-outlet *ngIf="!isLoading"></router-outlet>
</main>

<footer class="bg-secondary border-top d-flex flex-column justify-content-center align-items-center">
    <div>Ecommerce Project &copy; 2024</div>
    <a routerLink="/contactus">Contact Us</a>
</footer>