<div class="container">
    <div *ngIf="!displayCart.length" class="w-100 empty d-flex align-items-center justify-content-center">
        <h3 class="display-3">Your Cart is empty</h3>
    </div>
    <div *ngIf="displayCart.length">
        <h3 class="display-3 text-center mb-3">Your Cart</h3>
        <div class="d-flex justify-content-between align-items-center border mb-4"
            *ngFor="let p of displayCart; let i = index">
            <img [src]="p.product.url">
            <span>{{p.product.name}}</span>
            <span>{{"$"+p.product.price}}</span>
            <div>
                <button (click)="subtractProduct(p)" class="btn btn-primary">-</button>
                <span>{{" "+p.quantity+" "}}</span>
                <button (click)="addProduct(p)" class="btn btn-primary">+</button>
            </div>
        </div>
        <h4 class="display-4 text-center my-5">{{"Your Cart Total: $"+cartTotal}}</h4>
        <button class="btn btn-primary btn-block mb-5" [routerLink]='["/checkout"]'>Checkout</button>
    </div>
</div>