/* You can add global styles to this file, and also import other style files */

$primary: #104deb;
$info: #a810eb;
$danger: #1910eb;
$warning: #6010eb;

$primary: #4b7ccc;
$info: #858d99;
$danger: #cc5948;
$warning: #ff8658;

$secondary: #e9ecef;
@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: $light;
}
